:root {
    --primary-color: #6246EA;
    --secondary-color: #EFF0F3;
    --text-color: #2B2C34;
    --button-color: #FFFFFE;
    --hover-color: #4F3FC8;
    --active-color: #3B2D9C;
    --background-color: #FFFFFF;
}
