@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F8FB;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #AAD9D1;
    vertical-align: middle;
}

.name {
    color: #333333;
    font-size: 18px;
}

.orbitron-Rubik-Pixels {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dancing-script-Dancing-Script {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fjalla-one-regular {
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
}


.indie-flower-regular {
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}
