* {
    background-color: antiquewhite;
    font-size: 36px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 a {
    text-decoration: none;

}